
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model SimpleAccountSystem.Mvc.Models.UserModel

<div id="user-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Add User</div>
                <button data-bs-dismiss="modal" class="btn-close"></button>
            </div>
            <div class="modal-body">
                <form id="form-user">

                    <div asp-validation-summary="ModelOnly"></div>

                    @Html.AntiForgeryToken()

                    <div class="my-1">
                        <label class="form-label">UserName</label>
                        <input type="text" asp-for="UserName" class="form-control" name="UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="my-1">
                        <label class="form-label">Email</label>
                        <input type="email" asp-for="Email" class="form-control" name="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="my-1">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="Password" />
                    </div>
                    <div class="my-1">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="ConfirmPassword" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="my-1">
                        <div class="form-check">
                        <input type="checkbox" asp-for="EmailConfirmed" class="form-check-input" />
                        <label class="form-check-label">Confirm Email</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btn-save-user">Save</button>
            </div>
        </div>
    </div>
</div>